<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jxtxwifisdk.sdk.tx.uascent.com.devicesetnetmodule">

    <application>
        <activity android:name=".DeviceSetNetActivity">
        </activity>
    </application>

</manifest>